@import "fonts.css";
@import "normalize.css";
@import "reset.css";
@media (max-width: 480px) {
  html {
    font-size: 14px;
  }
}
body {
  font-family: 'montserratregular';
  background: #060606;
}
.site-wrapper {
  width: 100%;
  z-index: 1;
  overflow: hidden;
  position: relative;
}
/* Header */
.site-header {
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0px;
  left: 0px;
  background: #FFF;
}
.site-header:after {
  content: "a";
  color: transparent;
  position: absolute;
  background: url(../img/header_ripped.png);
  background-position: center center;
  width: 100%;
  z-index: 10000;
  bottom: -10px;
}
.navbar {
  padding: 0 52px;
}
.navbar .navbar-brand {
  position: relative;
  left: 10px;
  top: -5px;
}
.navbar .lang-mobile {
  display: none;
}
.navbar .lang-mobile li {
  border: none;
}
.navbar .lang-mobile a {
  color: #000000;
  font-style: normal;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  line-height: 22px;
  padding: 5px 0;
}
.navbar .lang-mobile a:hover {
  border-bottom: 3px solid #FFA800;
}
.navbar .lang-mobile .active {
  background-color: transparent;
}
.navbar .lang-mobile .active a {
  border-bottom: 3px solid #FFA800;
}
.navbar .navbar-collapse {
  padding: 19px 13px 0;
}
.navbar .nav-item .nav-link {
  border-bottom: 3px solid transparent;
  color: #060606;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  margin: 0 0.5em;
}
.navbar .nav-item .nav-link:hover {
  border-bottom: 3px solid #FFA800;
  color: #060606;
}
@media (min-width: 1366px) {
  .navbar-nav {
    margin-left: 2.5em;
  }
}
@media (max-width: 1300px) {
  #navbar {
    display: none !important;
  }
  .navbar-toggler {
    display: inline-block !important;
  }
  .navbar {
    justify-content: space-between;
  }
  .navbar-collapse {
    padding: 0;
  }
  .navbar .navbar-nav {
    text-align: center;
    height: 100vh;
  }
  .navbar .nav-item .nav-link {
    margin: 10px 0px;
    font-size: 24px;
  }
  .lang {
    display: none;
  }
  .lang a:active {
    border-bottom: 3px solid #FFA800;
    color: #060606;
  }
}
@media (max-width: 768px) {
  .site-header:after {
    background-position: left;
  }
  .navbar-brand img {
    width: 75%;
  }
}
@media (max-width: 350px) {
  .navbar {
    padding: 0 0;
  }
  .navbar-brand img {
    width: 50%;
  }
}
.lang {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  line-height: 22px;
  text-align: center;
}
.lang a {
  color: #060606;
}
.site-content {
  width: 100%;
  position: relative;
}
/* Home */
#PlayButton {
  display: table-cell;
  height: 100%;
  width: 100%;
  text-align: center;
  vertical-align: middle;
}
.Home {
  width: 100%;
  min-height: 172px;
  height: -webkit-fill-available;
  position: relative;
  display: table;
  padding-top: 55px;
  background-image: url(../img/Sparkle_Video_1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/*About Us */
.About {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 0 62px;
  min-height: 286px;
  background: #fff;
}
.About p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  line-height: 22px;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  color: #2F4858;
  margin: 5em 1em 3em;
}
@media (min-width: 1365px) {
  .Home {
    min-height: 769px;
  }
  .About p {
    margin: 250px 4em 210px 5em;
  }
}
@media (max-width: 480px) {
  .About {
    padding: 0 20px;
  }
  .About p {
    font-size: 12px;
  }
}
/* Gallery */
.Gallery {
  padding: 13px 0px;
  position: relative;
}
.Gallery img {
  width: 100%;
}
.Gallery .row:before,
.Gallery .row:after {
  content: "a";
  color: transparent;
  position: absolute;
  background: url(../img/ripped_6.png);
  background-size: contain;
  width: 100%;
  z-index: 1;
}
.Gallery .row:before {
  transform: rotate(180deg);
}
.Gallery .row:after {
  bottom: 10px;
}
/* Dreams */
.Dreams {
  padding: 0 56px;
}
.Dreams h3 {
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-size: 1.333rem;
  line-height: 36px;
  text-align: center;
  color: #2F4858;
  margin-bottom: 54px;
}
@media (max-width: 700px) {
  .Dreams .col-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .Dreams .mb-5 {
    margin-bottom: 3rem !important;
  }
}
@media (max-width: 768px) {
  .Dreams .row {
    margin: 3em 0;
  }
  .Dreams .row .col-12 {
    padding: 0;
  }
  .Dreams .row h3 {
    font-size: 18px;
    line-height: 27px;
  }
}
@media (min-width: 769px) and (max-width: 1159px) {
  .Dreams .row {
    margin: 4em 0;
  }
  .Dreams h3 {
    font-size: 18px;
  }
}
@media (min-width: 1160px) {
  .Dreams .row {
    margin: 7.66666em 5.33333em;
  }
}
.link-button {
  color: #fff;
  display: inline-block;
  padding: 14px 0;
  background-color: #FFA800;
  border-radius: 30px;
  width: 233px;
  height: 50px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 22px;
  vertical-align: middle;
}
.link-button:active {
  background-color: #FF8A00;
}
.link-button:hover {
  background-color: #FFDA16;
}
/* Contact-us */
.Contact-us {
  padding: 1.056rem 2.889rem 2.5rem;
  color: #2F4858;
}
.Contact-us h2 {
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-size: 1.667rem;
  line-height: 36px;
  text-align: center;
  color: #2F4858;
  margin-bottom: 54px;
}
.Contact-us ::placeholder {
  color: #2F4858;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 22px;
  letter-spacing: -0.015em;
}
.Contact-us form {
  margin-bottom: 50px;
  text-align: center;
}
.Contact-us form textarea {
  height: 232px;
  margin: -5px 0 10px 0;
  word-spacing: 2px;
  padding: 0.5rem 0.75rem;
  resize: none;
}
.Contact-us form label {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.7778rem;
  line-height: 17px;
}
.Contact-us .custom-control {
  margin: 0 0 3.05em 0.2em;
  padding-top: 7px;
}
.Contact-us .custom-control-label {
  padding: 5px 0 0 10px;
}
@media (max-width: 480px) {
  .Contact-us form textarea {
    height: 150px;
  }
}
@media (max-width: 768px) {
  .Contact-us {
    padding: 0.5rem 1.75rem 1.5rem;
  }
}
.form-button {
  border: none;
  color: #fff;
  display: inline-block;
  padding: 14px 0;
  background-color: #FFA800;
  border-radius: 30px;
  width: 182px;
  height: 62px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.333rem;
  line-height: 29px;
  vertical-align: middle;
}
.form-button:active {
  background-color: #FF8A00;
}
.form-button:hover {
  background-color: #FFDA16;
}
/* Supported-by */
.Supported-by {
  background: #FFCB66;
  padding: 73px 52px 140px;
  text-align: center;
  margin-top: 81px;
  position: relative;
}
.Supported-by:before {
  content: "a";
  color: transparent;
  position: absolute;
  background-image: url(../img/supportedby_ripped.png);
  width: 100%;
  z-index: 10;
  top: -25px;
  left: 0px;
}
.Supported-by h3 {
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-size: 1.333rem;
  line-height: 36px;
  text-align: center;
  color: #2F4858;
  margin-bottom: 82px;
}
@media (max-width: 991px) {
  .Supported-by {
    padding: 3rem 2rem 4rem;
    margin-top: 2rem;
  }
}
@media (max-width: 480px) {
  .Supported-by:before {
    top: -10px;
    background-size: contain;
  }
}
/* Footer */
.site-footer {
  background-color: #2F4858;
  color: #fff;
  padding: 44px 65px 2em;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  position: relative;
}
.site-footer:before {
  content: "a";
  color: transparent;
  position: absolute;
  background: url(../img/footer_ripped.png);
  width: 100%;
  z-index: 10;
  top: -25px;
  left: 0px;
}
.site-footer .col-lg-3 .nav {
  margin-top: -13px;
}
.site-footer .col-lg-3 .nav .nav-item {
  margin: 0;
}
.site-footer .col-lg-3 .nav .nav-link {
  margin-top: 13px;
  padding: 0 0 13px 0px;
}
.site-footer .nav-item {
  line-height: 22px;
  line-height: 100%;
  vertical-align: top;
}
.site-footer .nav-item a {
  color: #fff;
  border: none;
}
.site-footer h1 {
  font-size: 1.333rem;
  line-height: 29px;
  line-height: 100%;
  margin-bottom: 18px;
}
.site-footer li {
  margin: 16px 0;
  line-height: 22px;
  line-height: 100%;
}
.SocialMedia {
  margin: 3em -14px 0 0;
}
.SocialMedia .nav-item {
  margin: 0 13px !important;
}
.SocialMedia .nav-item .nav-link {
  padding: 0 1rem 0.5rem 0;
}
.Copyright {
  font-size: 0.7778rem;
  line-height: 17px;
  margin-top: 6px;
}
.Copyright .justify-content-end {
  text-align: right;
}
.Copyright a {
  color: #fff;
}
@media (max-width: 480px) {
  .site-footer {
    padding: 44px 20px 1em;
  }
  .site-footer .row {
    text-align: left;
  }
  .site-footer:before {
    top: -10px;
    background-size: contain;
  }
  .site-footer img {
    width: 40%;
  }
  .Copyright .justify-content-end {
    text-align: left;
  }
}
@media (max-width: 768px) {
  .site-footer {
    padding: 44px 20px 1em;
  }
  .site-footer .row {
    text-align: left;
  }
  .site-footer:before {
    top: -10px;
    background-size: contain;
  }
}
