@import "fonts.css";
@import "normalize.css";
@import "reset.css";

body {

  font-family: 'montserratregular';
  background: #060606;
}
.site-wrapper {
//  width:1366px;
  width: 100%;
  z-index: 1;
  overflow: hidden;
  position: relative;
}


/* Header */
.site-header {
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0px;
  left: 0px;
  background: #FFF;
}

.navbar {
  padding:0 52px;

  .navbar-brand {
    position: relative;
    left: 10px;
    top: -5px;
  }

  .navbar-collapse {
    padding: 19px 13px 0;
  }
  .nav-item .nav-link {
    border-bottom: 3px solid transparent;
    color: #060606;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    margin: 0 0.5em;
    //margin:0 10px;
    &:hover {
      border-bottom: 3px solid #FFA800;
      color: #060606;
    }
  }
}
@media(min-width:1366px) {

  .navbar-nav {
    margin-left: 2.5em;
  }
}
@media(max-width:1280px) {

    #navbar {
      display: none !important; // Need to fix dropdown
    }

  .navbar-toggler {
    display:inline-block !important;
  }

  .navbar {
    justify-content: space-between;
  }

  .navbar-collapse {
    padding: 0;
  }
  .navbar .navbar-nav {
    text-align: center;
    height: 100vh;
  }
  .nav-item .nav-link {
    margin: 10px 0px;
    border-bottom: 1px solid #060606;
  }

  .lang {
    a:active {
      border-bottom: 3px solid #FFA800;
      color: #060606;
    }
  }
}
@media(max-width:350px) {

  .navbar {
    padding:0 0;
  }
  .navbar-brand {
    display: none;
  }

}

.lang {

  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  a {
    color: #060606;
  }
}

.site-content {
  width: 100%;
  position: relative;
}

/* Home */
#PlayButton {
  display: table-cell;
  height: 100%;
  width: 100%;
  text-align: center;
  vertical-align: middle;
}
.Home {
  width: 100%;
  min-height: 172px;
//  height: 769px;
  height: 100vh;
  position: relative;
  display: table;
  padding-top: 55px;
  background-image: url(../img/Sparkle_Video_1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/*About Us */
.About {
  display: flex;
  align-items: center;
  text-align: center;
  padding:0 62px;
  min-height: 286px;
  background: #fff;
  p {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    color: #2F4858;
    margin: 5em 1em 3em;
  }
}

@media(min-width:1366px) {

  .About {
    p {
      margin: 250px 4em 210px 5em;
    }
  }
}
/* Gallery */
.Gallery {
  margin: 20px 0;
  position: relative;
  img {
    width: 100%;
  }
  &:before, &:after {
    content: "a";
    color: transparent;
    position:absolute;
    background: url(../img/ripped_6.png);
    background-size: contain;
    width: 100%;
    z-index: 1;
  }
  &:before {
    transform: rotate(180deg);
  }
  &:after {
    bottom:-10px;
  }
}
/* Footer */
.site-footer {
  background-color: #2F4858;
  color: #fff;
  padding:0 56px;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;

  .nav-item {

    line-height: 22px;
    line-height: 100%;
    align: left;
    vertical-align: top;
    a {
      color: #fff;
      border: none;
    }
  }
  h1 {
    font-size: 24px;
    line-height: 29px;
    line-height: 100%;

  }
  li {
    line-height: 22px;
    line-height: 100%;
  }
}

.SocialMedia {
  .nav-item {
    margin:0 10px;
  }
}
.Copyright {
  font-size: 14px;
  line-height: 17px;

  .justify-content-end {
    text-align:right;
  }
  a {
    color: #fff;
  }
}
